* {
	transition: all 0.5s ease;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #1c172e;
	color: #eee;
}

h1 {
	width: 100%;
	text-align: center;
}

#searchInput {
	padding: 10px 0;
	width: 100%;
	margin-bottom: 10px;
	color: #bbff !important;
	background-color: #000 !important;
	border: 0;
	font-size: xxx-large;
	text-align: center;
}

#searchResults {
	list-style-type: none;
	padding: 0;
}

#searchResults li {
	padding: 5px 10px;
	margin-bottom: 5px;
	border: 0px solid #ccc;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;

}

#searchResults li:hover {
	background-color: #000;
	border: 1px solid #ccc;
	padding: 25px 0px;
	margin: 10px 0;
}

#searchResults li a {
	text-decoration: none;
	color: #eee;
}
